div.footer

	div.divider

	div.container--flex

		div.footer__contents
			include contentsLight.jade
		|&nbsp
		div.footer__sections
			a.footer__sections__section(href="our_values")
				ul
					li.footer__sections__section__image__container
						img.footer__sections__section__image(src="img/footer-values-four.svg")
					li.footer__sections__section__copy__container
						h5.footer__sections__section__copy Leave it better than you found it.
						
						h4.cta-main see our values

			a.footer__sections__section(href="blog")
				ul
					li.footer__sections__section__image__container
						img.footer__sections__section__image(src="img/footer-blog.svg")
					li.footer__sections__section__copy__container
						h5.footer__sections__section__copy Should you copy a famous site's design?
						
						h4.cta-main read the blog

			a.footer__sections__section(href="about")
				ul
					li.footer__sections__section__image__container
						img.footer__sections__section__image(src="img/footer-about.svg")
					li.footer__sections__section__copy__container
						h5.footer__sections__section__copy Amble is a one-man design shop in Boulder, CO.
						
						h4.cta-main Learn more
		|&nbsp
		div.footer__contact
			img.footer__contact__image(src="img/logo/logo-green.svg")
				
			a.link(href="") Say hello

			p (720) 333-9134