div.values-blog
	div.container--flex
		a.values-blog__outer
			h4.values-blog__subhead How we get things done
			div.values-blog__container(href="../values")
				div.values-blog__img-container
					img.values-blog__values__number(src="../img/value-blog-value_3.svg")
				h2.values-blog__header Measure twice. Cut once.
			h4.cta-main what steadies our hands
		|&nbsp	
		a.values-blog__outer
			h4.values-blog__subhead Blog
			div.values-blog__container(href="../blog")
				div.values-blog__img-container
					img.values-blog__blog__bolt(src="../img/value-blog-bolt.svg")
				h2.values-blog__header Should You Copy a Famous Site's Design?
			h4.cta-main things to learn from