p
	|Old habits die hard, and new habits may be even tougher to adopt.
	<br><br>
	|It’s a little scary, but almost all of the decisions we make in a day are taken care of by our minds automatically. We are mostly running on autopilot and this is because the rational, logical part of our brains follow our intuition. Our gut calls on rationality and logic when it decides it’s necessary, and the rational. On top of that, the logical part of our minds is very lazy, and if we can’t figure something out with logic quickly, the mind reverts back to the path of least resistance and we move on. Hell, even if the logical mind pulls it’s weight for once, it’s usually just supporting what our gut wants anyhow.
	<br><br>
	|When building your product or service, why fight human nature? Instead, why don’t we build something that can be easily understood by your customers’ autopilot? How about we build something that plays right into their habits, rather than asking them to adopt a new one, get the logical mind involved and then have them bail on it altogether?
	<br><br>
	|We’ll make your product or service easily accommodate your customers’ habits, fits into their day, feels right in their gut, and increases your revenue as a result.
