body.about
	div.container.about__container
		//Guide Header
		include _components_partials/headerLight

		div.container--flex.about__intro
			div.about__intro__copy
				h4.about__header about
				h1.about__intro__copy__intro-about 
					|Amble is a one-man design shop run by Robert Grober out of Boulder, Colorado.
			|&nbsp
			div.about__intro__image
				img.about__intro__image__me(src="img/our-values__intro-image@2x.png")

		div.divider--green

		h3.about__explain 
			|I have 10 years of experience helping businesses, big and small, put their right foot forward online; creating apps that make customers’ lives easier; finding a business’s next best steps; guidining businesses to discover their true identity to create a brand that speaks directly to customers—you name it, I’ve probably done it.

		div.about__motivated

			h4.about__header all of my work is motivated by two things

			div.container--flex
				div.about__motivated__item
					h2.about__motivated__item__copy What makes people (customers) tick
					img.about__motivated__item__number(src="img/our-values__motivated__number1@2x.jpg")
				|&nbsp
				div.about__motivated__item
					h2.about__motivated__item__copy Helping your business compete with anyone.
					img.about__motivated__item__number(src="img/our-values__motivated__number2@2x.jpg")

		div.about__one-man
			h4.about__header why work with a one-man show?

			div.container--flex
				div.about__one-man__item
					h2.about__one-man__item__header No need to fight for attention
					h3.about__one-man__item__copy For long-term projects, you’ll be my only focus. No more having your questions and concerns turfed to another team member.
				|&nbsp
				div.about__one-man__item
					h2.about__one-man__item__header Choose only the services you need
					h3.about__one-man__item__copy No packages to buy. Projects aren’t one-size-fits-all. If you don’t need it, you won’t pay for it.
				|&nbsp
				div.about__one-man__item
					h2.about__one-man__item__header Lean, mean fighting machine
					h3.about__one-man__item__copy Why pay for an entire team if it’s not necessary? Specialists are only hired for special cases.
				|&nbsp
				div.about__one-man__item
					h2.about__one-man__item__header I can come to you wherever you are
					h3.about__one-man__item__copy No packages to buy. Projects aren’t one-size-fits-all. If you don’t need it, you won’t pay for it.

		div.about__time-money
			div.container--flex
				div.about__time-money__icon
					img.about__time-money__icon__dollar(src="img/time-money__dollar@2x.png")
				|&nbsp
				div.about__time-money__info
					h2.about__time-money__info__header Time is money.
					h3.about__time-money__info__copy All fees are project-based only.<br>Parkinson’s Law says, “work expands so as to fill the time available for its completion.” Hourly rates waste valuable time to ensure a fair value is exchanged for the work, whereas project fees provide great incentive to get solutions to market quickly.

		//Contact
		include _components_partials/contact-module-dark

		//Footer
		include _components_partials/footer-dark




