include _components_partials/head
	
body.our-values
	div.container.our-values__container

		//Guide Header
		include _components_partials/headerDark

		div.our-values__intro
			h4.our-values__headline Our Values
			h1.our-values__intro__copy In the past 10 years, I’ve found that these tenents help us ask the right questions, which lead us to the best answers and get you to market as fast as possible.
		
		div.divider

		div.our-values__values
			div.our-values__values__list-item
				div.our-values__values__list-item__img
					img(src="img/value-texture-1@2x.jpg")
				|&nbsp
				div.our-values__values__list-item__copy 
					h1 Get people right.

			div.our-values__values__list-item
				div.our-values__values__list-item__img
					img(src="img/value-texture-2@2x.jpg")
				|&nbsp
				div.our-values__values__list-item__copy 
					h1 Ass  u  me

			div.our-values__values__list-item
				div.our-values__values__list-item__img
					img(src="img/value-texture-3@2x.jpg")
				|&nbsp
				div.our-values__values__list-item__copy 
					h1 Measure twice. Cut once.

			div.our-values__values__list-item
				div.our-values__values__list-item__img
					img(src="img/value-texture-4@2x.jpg")
				|&nbsp
				div.our-values__values__list-item__copy 
					h1 Leave it better than you found it.

			div.our-values__values__list-item
				div.our-values__values__list-item__img
					img(src="img/value-texture-5@2x.jpg")
				|&nbsp
				div.our-values__values__list-item__copy 
					h1 “Many hands make light work.”

			div.our-values__values__list-item
				div.our-values__values__list-item__img
					img(src="img/value-texture-6@2x.jpg")
				|&nbsp
				div.our-values__values__list-item__copy 
					h1 Great ideas come from everybody.

		//Contact
		include _components_partials/contact-module

		//Footer
		include _components_partials/footer-green


	//Script
	include _components_partials/footer-script

