p
	|Economists used to base a lot of theory on the idea that consumers (humans) are rational decision makers. Over the years, the contrary has been discovered: our rational mind isn’t making the bulk of the decisions. We are mostly guided by our gut feelings and intuitions.
	<br><br>
	|And when our rational mind is ordered into action by our intuition, it is really good at making arguments and finding evidence that only supports our original gut feeling. Jonathan Haidt describes the rational part of our minds as an internal lawyer that isn’t as interested in the truth as it is in defending it’s client (you).
	<br><br>
	|Because we are so willing to give the nod to our own feelings on every subject, we can’t even hypothesize about the next best steps for our business and customers, because that internal lawyer will make the hypothesis based on what we already think and find any evidence to support it, right or wrong.
	<br><br>
	|Since we can’t rely on our gut (and even parts of the scientific process) to find the best next steps for your business and customers, we will work together to skip the bias and assumptions altogether by basing our decisions solely on their behavior. Our hypotheses will come directly from what we observe, and the common behavioral threads that tie all of our customers together is where we will find the next best ways to serve them. When your customers are heard, loud and clear, your business will be rewarded.
